{% trans_default_domain('manufacture-part.admin') %}

{# @var opens \BaksDev\Manufacture\Part\Repository\OpenManufacturePart\OpenManufacturePartResult #}

<section class="card card-flush alert alert-warning p-0 w-100 "
         style="background-image: var(--bs-gradient);">

    <div class="px-3 pt-3 d-flex gap-3">
        <div class="w-50 d-flex align-items-center gap-3">

            <strong>{{ opens.actionsName }}</strong> &nbsp;

            {# Тип заказов (завершающий этап) #}
            <span class="badge text-bg-danger">{{ opens.completeName ?: 'Ничего не делать' }}</span>

        </div>

        <div class="w-100">
            <strong>{{ opens.categoryName }}: </strong> &nbsp;
            <small class="opacity-50">
                последний добавленный продукт</small>
        </div>
    </div>


    <div class="card-body d-flex justify-content-between">

        <div class="w-75 d-flex gap-3 align-items-center">

            <span data-bs-toggle="tooltip"
                  role="tooltip"
                  data-bs-placement="bottom"
                  data-bs-delay='{"show":600,"hide":100}'
                  title='QR производственной партии'
            >
                <a
                        href="{{ path('manufacture-part:admin.qrcode', { id : opens.manufacturePartId, print: true }) }}"
                        class="btn-link btn p-0 modal-link disabled icon prnt"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        style="height: 55px; width: 55px;"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                            class="bi bi-qr-code" viewBox="0 0 16 16"><path d="M2 2h2v2H2V2Z"></path><path
                                d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"></path><path
                                d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"></path><path
                                d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"></path><path
                                d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"></path>
                    </svg>
                </a>
            </span>

            <div>
                <div><small class="opacity-50">Номер:</small> &nbsp;

                    <a href="{{ path('manufacture-part:admin.products.index', { id: opens.manufacturePartId }) }}"
                       class="fw-bolder text-decoration-none">
                        {{ opens.number }}
                    </a>
                </div>
                <div><small class="opacity-50">Отвественный:</small> &nbsp;
                    <strong>{{ opens.usersProfileUsername }}</strong></div>
                <div>
                    <small class="opacity-50">Всего продукции:</small> &nbsp;
                    <strong id="total-{{ opens.manufacturePartEvent }}">{{ opens.quantity }}</strong> шт.
                </div>


            </div>

            <div>

            </div>
        </div>

        {# Последний добавленный продукт #}
        <div id="product-{{ opens.manufacturePartEvent }}" class="w-100 d-flex gap-3 align-items-center">

            {% if opens.productEvent %}
                {{ include('@manufacture-part/admin/products/add/pc/product.html.twig', { product : opens }) }}
            {% else %}
                <small>В партии отстутвует продукция</small>
            {% endif %}
        </div>

        <div class="text-end">
            <a href="{{ path('manufacture-part:admin.package', { id: opens.manufacturePartId }) }}"
               id="close_supply_btn"
               class="btn modal-btn btn-danger modal-link disabled text-nowrap"
               data-bs-toggle="modal" data-bs-target="#modal"
               title="Отпарвить партию на производственную линию"
            >
                Отправить на производсто
            </a>
        </div>

    </div>
</section>