{% if applications %}
    {% for application in applications %}
        {% set arr_property = application.categorySectionField|json_decode %}
        {# Вывод товара #}


        <div class="d-flex justify-content-between gap-3 align-items-center w-100 mb-2  {{ loop.last ?: 'border-bottom border-light' }}">

            {# Обложка  #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if application.productImageExt is defined and application.productImageExt is not null %}
                {% set image_path = cdn_image_path(application.productImage, application.productImageExt, application.productImageCdn) %}
            {% endif %}

            {# ФОТО ПРОДУКТА  #}
            <div>
                <div class="icon rounded-4 mb-2 bg-cover p-1"
                     style="width: 45px; height: 60px; background-image: url('{{ image_path }}');"
                ></div>
            </div>

            {# Название #}
            <div class='w-100'>

                <div class="text-truncate"
                     style="max-width: 230px"
                     role="tooltip"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-delay='{"show":600,"hide":100}'
                     title="{{ application.productName }}"
                >
                    <a href="{# /admin/product/edit/06420615-8809-4662-9a2c-e3643dc95c48 #}"
                       class="fw-bolder mb-1 text-dark text-decoration-none">
                        {{ application.productName|capitalize }}
                    </a>
                </div>

                <div class="d-flex gap-3">

                    <div>
                        {% if application.productOfferName %}
                            <small class="opacity-50">{{ application.productOfferName }}:</small>&nbsp;
                            <strong>{{ application.productOfferValue|call_twig_func(application.productOfferReference) }} {{ application.productOfferPostfix }}</strong>
                        {% endif %}
                    </div>
                    <div>
                        {% if application.productVariationName %}
                            <small class="opacity-50">{{ application.productVariationName }}:</small>&nbsp;
                            <strong>{{ application.productVariationValue|call_twig_func(application.productVariationReference) }} {{ application.productVariationPostfix }}</strong>
                        {% endif %}
                    </div>
                    <div>
                        {% if application.productModificationName %}
                            <small class="opacity-50">{{ application.productModificationName }}:</small>&nbsp;
                            <strong>{{ application.productModificationValue|call_twig_func(application.productModificationReference) }} {{ application.productModificationPostfix }}</strong>
                        {% endif %}
                    </div>

                </div>

            </div>

            {# Общще кол-во для продукта #}
            <div class="d-flex justify-content-center align-items-center text-center w-50 total-count-container">

                <button type='button' class="btn btn-lg btn-link text-decoration-none minus"
                        aria-label="Отнять количество" id="minus"
                >
                    <span class="h4 text-muted opacity-50">-</span>
                </button>

                <span
                        role="tooltip"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Количество выполненных заказов"
                >

                {{ form_widget(form.product_data[loop.index - 1].total, {

                    attr: {
                        value : form.product_data[loop.index - 1].vars.value.total ?:1,
                        class : 'form-control-lg mx-1 rounded-3 total text-center manufacture_part_products_form_total',
                        style: 'width: 85px;',
                        'data-max' :  form.product_data[loop.index - 1].vars.value.total ?:99,
                    }
                }) }}

            </span>

                <button type='button' class="btn btn-lg btn-link text-decoration-none plus"
                        aria-label="Добавить количество" id="plus"
                >
                    <span class="h5 text-muted opacity-50">+</span>
                </button>

            </div>

            {# Вывод скрытых полей - данные для каждого из товаров product_data #}

            {{ form_widget(form.product_data[loop.index-1].product) }}
            {{ form_widget(form.product_data[loop.index-1].offer) }}
            {{ form_widget(form.product_data[loop.index-1].variation) }}
            {{ form_widget(form.product_data[loop.index-1].modification) }}

        </div>

    {% endfor %}
{% endif %}


{{ form_widget(form.priority) }}


